<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link th:inline="css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <link th:inline="css" rel="stylesheet" th:href="@{/assets/css/LineIcons.2.0.css}" />
    <link th:inline="css" rel="stylesheet" th:href="@{/assets/css/animate.css}" />
    <link th:inline="css" rel="stylesheet" th:href="@{/assets/css/tiny-slider.css}" />
    <link th:inline="css" rel="stylesheet" th:href="@{/assets/css/glightbox.min.css}" />
    <link th:inline="css" rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>
</html>