<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<div layout:fragment="content">

<!-- start content -->
 <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title" style="font-size:30px">Contact Us</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/index">Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Contact Area -->
    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head wow fadeInUp" data-wow-delay=".4s">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <div class="single-head">
                            
                            <div class="single-info">
                                <h3>운영시간</h3>
                                <ul>
                                    <li>월~금: 9:30 AM ~ 6:00 PM</li>
                                    <li>일요일 & 공유일: 휴무</li>
                                </ul>
                            </div>
                            <div class="single-info">
                                <h3>연락처 정보</h3>
                                <ul>
                                    <li>대전광역시 서구 대덕대로 182</li>
                                    <li> 오라클빌딩 3층, 10층</li>
                                    <li><a href="mailto:info@yourwebsite.com">green@naver.com</a></li>
                                    <li><a href="">(042) 476-2111</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12">
                        <div class="form-main">
                            <div class="form-title">
                                <h2>1대1 문의</h2>
                                <p>서비스 이용 문제 및 질문을 할 수 있는 페이지입니다.</p>
                            </div>
                            <form class="form" method="post" action="oneonone">
                                <div class="row">
                                    
                                    <div class="col-lg-12 col-12">
                                        <div class="form-group">
                                            <input name="title" type="text" placeholder="제목"
                                                required="required">
                                        </div>
                                    </div>
                                    <input type="hidden" name="useremail" th:value="${#authentication.principal.userId}">
                                    <input type="hidden" name="username" th:value="${#authentication.principal.username}">
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <textarea name="content" placeholder="문제 내용"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">문의하기</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="googleMap" style="width: 100%;height: 700px;"></div>
        
    </section>
    <!-- End Contact Area -->

<!-- end content -->

</div>
<div layout:fragment="script">
<script>
   function myMap(){
      var mapOptions = { 
            center:new google.maps.LatLng(51.508742, -0.120850),
            zoom:5
      };
 
      var map = new google.maps.Map( 
             document.getElementById("googleMap") 
            , mapOptions );
   }
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=myMap"></script>
</div>
</html>